
@font-face {
        font-family: 'Apple';
        src: url(/../assets/fonts/Apple.ttf) format('truetype');
    }*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 400%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#nav{
    width: 100%;
    height: 50px;
    background-color:rgb(5, 5, 5);
    display: flex;
    align-items: center;
    align-content: center;
    gap: 25px;
    padding-left: 100px;
}
#nav a{
    color: rgb(249, 248, 248);
    padding: 0 20px;
    font-weight: 100;
    font-family: 'Apple', sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}
#body{
    height: 25%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    background-image: url(./hero_iphone_17_pro.jpg);
    background-size: cover;
    background-position: center;

}
#body h1{
    color: white;
    font-size: 80px;
    font-weight: 100;
    
}
#body h3{
    font-size: 30px;
    font-weight: 40;
    color: white;
    
}
#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

#links button{
    background-color: royalblue;
    color: rgb(248, 247, 247);
    cursor: pointer;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Apple', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#links button:hover{
    background-color: rgb(0, 0, 139);
    transition: 0.3s;
}





