*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
  

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070707;
}
button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #022951;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}
button:active {
  scale: 0.95;
}