*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-gap: 10px;
    grid-template-areas:
        "header header"
        "aside section"
        "footer footer";
        
}
header {
    grid-area: header;
    background-color: tomato;
}
aside {
  grid-area: aside;
    background-color: blue;
}
section {
    grid-area: section;
    background-color: green;
}
footer {
   grid-area: footer;
    background-color: black;}