*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}

.piano {
    margin-top: 20px;
}

.key {
    width: 80px;
    height: 120px;
    margin: 10px;
    font-size: 25px;
}
