*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: rgb(6, 206, 49);
  font-size: 3rem;
  font-weight: 800px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}