*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040404;
  anchor-name: --some-anchor;
}
.box{
  height: 200px;
  width: 200px;

}
.box:hover{
  anchor-name: --some-anchor;
}
.red{
  background-color: red;
  
}
.blue{
  background-color: blue;
  
}
.green{
  background-color: green;
}

.anchor{
  background-color: whitesmoke;
  border-radius: 10px;
  position:absolute;
  top:anchor(top);
  left:anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  pointer-events: none;
  position-anchor: --some-anchor;
  transition: all 0.5s linear;
  mix-blend-mode: exclusion;
}