*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  transition: all 0.3s linear;
}
  .box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: all 0.3s linear;
  }
  .red {
    background: red;
  }
  .blue {
    background: blue;
  }
  .green {
    background: green;
  }
 .box:hover {
    transform: scale(1.2) !important;
    
 }
 body:has(.box:hover) .box {
    transform: scale(0.5);
 }